body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "Cantarell";
  src: url("/Cantarell-Regular.ttf") format("truetype");
}

body {
  font-family: "Cantarell";
  background-image: url("../assets/wallpaper.png");
  min-height: 100vh;
}
